<div class="profile-wrapper">
  <div class="profile-header h-18">
    <img src=" assets/images/arkenea/banner-prof.png" alt="" class="banner">
    <div class="container">
      <div class="propic text-center" fxHide fxShow.gt-sm>
        <h2 class="big">AG</h2>
        <h2 class="fw-700 mt-8">Abhi Golhar</h2>
      </div>
    </div>
  </div>

  <div class="line-wrapper">
    <div class="container">
      <div class="line" fxLayout="row wrap" fxLayoutAlign="end end">
        <button mat-flat-button>
          <mat-icon class="mr-1 mat-color-primary">create</mat-icon>Edit Profile
        </button> 
      </div>
    </div>
  </div>


</div>

<div class="container main-profile-wrapper">
  <div class="tabs">
    <mat-tab-group>
      <mat-tab label="Personal Information">
        <div class="main" fxLayout="row wrap">
          <div class="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50">
            <div>
              <!-- Contact Information -->
              <mat-card class="default">
                <div class="card-title">
                  <h4 class="fw-500">Personal Information</h4>
                </div>
                <mat-card-content>

                  <mat-list>
                    <div class="user-info">
                      <div>
                        <mat-list-item>
                          <div class="icon-bg-wrap mr-8">
                            <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                            <mat-icon class="mr-1 mat-color-primary">person</mat-icon>
                          </div> Abhi Golhar
                        </mat-list-item>
                        <mat-list-item>
                          <div class="icon-bg-wrap mr-8">
                            <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                            <mat-icon class="mr-1 mat-color-primary">phone</mat-icon>
                          </div> 123-456-7890
                        </mat-list-item>
                      </div>


                      <div>
                        <mat-list-item>
                          <div class="icon-bg-wrap mr-8">
                            <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                            <mat-icon class="mr-1 mat-color-primary">email</mat-icon>
                          </div> abhi@abhigolhar.com
                        </mat-list-item>
                        <mat-list-item>
                          <div class="icon-bg-wrap mr-8">
                            <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                            <mat-icon class="mr-1 mat-color-primary">add_location</mat-icon>
                          </div> Chicago
                        </mat-list-item>
                      </div>


                    </div>


                  </mat-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div>

            </div>
          </div>
          <div class="column" fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50">

          </div>
        </div>
      </mat-tab>
      <mat-tab label="Organization Information">
        <div class="main" fxLayout="row wrap">
          <div class="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50">
            <div>
              <!-- Contact Information -->
              <mat-card class="default">
                <div class="card-title">
                  <h4 class="fw-500">Organization Information</h4>
                </div>
                <mat-card-content>

                  <mat-list>
                    <div class="user-info">
                      <mat-list-item>
                        <div class="icon-bg-wrap mr-8">
                          <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                          <mat-icon class="mr-1 mat-color-primary">phone</mat-icon>
                        </div> 00389 (70)258 778
                      </mat-list-item>
                      <mat-list-item>
                        <div class="icon-bg-wrap mr-8">
                          <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                          <mat-icon class="mr-1 mat-color-primary">add_location</mat-icon>
                        </div> Mk 1000, Skopje
                      </mat-list-item>

                      <mat-list-item>
                        <div class="icon-bg-wrap mr-8">
                          <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                          <mat-icon class="mr-1 mat-color-primary">public</mat-icon>
                        </div> www.yourwebsite.com
                      </mat-list-item>
                      <mat-list-item>
                        <div class="icon-bg-wrap mr-8">
                          <div class="icon-circle w-2.5 h-2.5 rounded-circle mat-bg-primary"></div>
                          <mat-icon class="mr-1 mat-color-primary">email</mat-icon>
                        </div> admin@admin.com
                      </mat-list-item>

                    </div>


                  </mat-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div>

            </div>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Change Password">
        <div class="large-box mat-elevation-z4">
          <mat-list role="list">
            <h2 class="header">Change Password</h2>
            <mat-list-item role="listitem">
              <mat-form-field appearance="fill">
                <mat-label>Enter Current Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>

            <mat-list-item role="listitem">
              <mat-form-field appearance="fill">
                <mat-label>Enter New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>

            <mat-list-item role="listitem">
              <mat-form-field appearance="fill">
                <mat-label>Confirm New password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
          <mat-list-item>
            <button mat-raised-button float-end>Reset Password</button>
          </mat-list-item>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>



</div>