<footer class="prelogin-footer" fxLayout="row">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="100px" fxLayoutGap.sm="20px" fxLayoutGap.xs="0" fxLayout.xs="column">
            <div fxLayout="row" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="20" fxFlex.xl="20">
                <img src="assets/images/arkenea/logo.webp" alt="" class="footer-logo">
            </div>
            <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="25" fxFlex.xl="25">
                <p fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="icon-location">location_on</mat-icon>
                    9050 N Capital of Texas Hwy, Building 3,
                    Suite 130, Austin, TX 78759
                </p>
                <div class="w-100" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0">
                    <p fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon>call</mat-icon>
                        512.492.3813
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon>email</mat-icon>
                        info@thepln.com
                    </p>
                </div>
            </div>
            <div class="w-100" fxLayout="column" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="55" fxFlex.xl="55">
                <ul class="m-0 p-0">
                    <li> <a>HOME</a> </li>
                    <li> <a>Terms & Conditions</a> </li>
                    <li> <a class="m-0">Privacy Policy</a> </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="prelogin-subfooter" fxLayout="row">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <p class="m-0">Copyright © 2021 <a> PLN  LLC. </a> All Rights Reserved.</p>
        <div fxLayout="row" fxLayoutAlign="start center" >
            <button class="mr-10" mat-mini-fab> <i class="fa fa-twitter" aria-hidden="true"></i> </button>
            <button class="mr-10" mat-mini-fab><i class="fa fa-facebook" aria-hidden="true"></i></button>
            <button mat-mini-fab><i class="fa fa-linkedin" aria-hidden="true"></i> </button>
        </div>
    </div>
</footer>
