.prelogin-footer{
    background-color: #000;
    padding: 25px 0 15px 0;
    .footer-logo{
        // width: 77%;
    }
    p{
        font-family: 'Lato', sans-serif !important;
        color: #fff;        
        font-size: 16px;
        .mat-icon{
            &.icon-location{
                margin-right: 15px;
                font-size: 22px;
                height: 22px;
                width: 22px;
            }
            margin-right: 15px;
            font-size: 19px;
            height: 19px;
            width: 19px;
            margin-top: 3px;
        }
    }
    ul{
        li{
            display: inline-block;
            a{
                font-size: 14px;
                font-family: 'Lato', sans-serif !important;
                color: #fff;
                text-transform: uppercase;
                margin-right: 30px;
            }
        }
    }
}

.prelogin-subfooter{
    padding: 17px 0 20px 0;
    p{
        color: #888;
        font-size: 16px;
        a{
            color: #222;
        }
    }
    .mat-mini-fab{
        background-color: #eee;
        box-shadow: none;
    }
    .fa {
        font-size: 17px;
        color: #333;
    }
}

@media only screen and (max-width: 599px) {
    .prelogin-footer { 
        padding: 15px;
    }
    .prelogin-footer ul li {
        display: block;  
        margin-bottom: 3px;
    }
    .prelogin-subfooter p { 
        font-size: 13px;
        margin-bottom: 16px !important;
    }
    .prelogin-footer ul li a{
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 979px){
    .prelogin-subfooter[_ngcontent-tkt-c156] {
        padding: 15px 5px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .prelogin-footer ul li {
        display: block;
    }
}