.cmp--day--one{
    border-radius: 5px; 
    box-shadow: -1.4px 1.4px 13px 0 rgba(88, 92, 101, 0.3);
    background-color: #fff;
    height: calc(100vh - 135px);
    padding: 50px 10px;
    h1{
        font-size: 20px;

    }
    p{
        font-size: 14px;
        margin: 15px 0 25px 0;
    }
}