<div class="sidebar-panel">
    <div id="scroll-area" [perfectScrollbar] class="navigation-wrapper" fxLayout="column">
        <div class="sidebar-wrapper">
            
            <!-- App Logo -->
            <div class="branding">
                <img src="assets/images/marco.png" alt="" class="app-logo">
                <span class="app-logo-text">marco</span>
                
                <span style="margin: auto" *ngIf="layoutConf.sidebarStyle !== 'compact'"></span>
                <div 
                class="sidebar-compact-switch"
                [ngClass]="{active: layoutConf.sidebarCompactToggle}"
                (click)="toggleCollapse()" 
                *ngIf="layoutConf.sidebarStyle !== 'compact'"><span></span></div>
            </div>
        
            <!-- Sidebar user -->
            <div class="app-user">
                <div class="app-user-photo">
                <img src="assets/images/face-7.jpg" class="mat-elevation-z1" alt="">
                </div>
                <span class="app-user-name fw-400">
                {{jwtAuth?.user?.displayName}}
                </span>
                <small class="user-email">{{jwtAuth?.user?.emailAddress}}</small>
        
            </div>
            <!-- Navigation -->
            <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
        </div>
    </div>
</div>