<div class="profile--completed w-100" fxLayout="column"  fxLayoutAlign="start center">
    <h1 class="clr-222 m-0">Congratulations! Your profile is complete.</h1>
    <p class="clr-888">Now that we've completed setting up your profile, <br>
        click the button below to get started creating a new loan request.</p>
    <img src="assets/images/arkenea/createloan-req.webp" alt=""> 
    <button mat-raised-button class="primary-btn mt-30 mb-20">
        Create New Loan Request
    </button>
</div>