.page-login{
    height: calc(100vh - 68px);
    padding: 0 15px;
    align-items: flex-start;
    padding-top: 100px;
    .signIn-wrapper{
        .fp--link{
            font-weight: 500;
            margin-top: -8px;
            margin-bottom: 27px;
        }
        ::ng-deep{
            .mat-card {
                padding: 30px 40px;
                box-shadow: -1.4px 1.4px 13px 0 rgba(88, 92, 101, 0.3) !important;
            }
           
        }
    }
}

@media screen and (orientation:landscape) and (max-width: 850px){
    .page-login {
        height: auto; 
        padding: 50px 0;
    }
}
