<div class="page-wrap page-login height-100 black">
    <div class="signIn-wrapper">
      <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
      <mat-card>
        <div class="card-body-content">
          <div class="text-center pt-8 pb-16"> 
            <H3 class="fw-500">Welcome to The PLN</H3>
            <p class="clr-222 m-0">Sign in to your account</p>
          </div>
  
          <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>
          
          <form [formGroup]="signinForm" (ngSubmit)="signin()">
            <div class="">
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  name="username"
                  [formControl]="signinForm.controls['']"
                  placeholder="Email"
                  value="abhi@abhigolhar.com">
              </mat-form-field>
              <small 
                *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
                class="form-error-msg"> Email is required </small>
            </div>
  
            <div class="">
              <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input 
                  type="password"
                  name="password"
                  matInput
                  [formControl]="signinForm.controls['password']"
                  placeholder="Password" 
                  value="123456789">
              </mat-form-field>
              <small 
                *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
                class="form-error-msg"> Password is required </small>
            </div>
            
            <div class="pb-1" fxLayout="row" fxLayoutAlign="space-between center" >
              <!-- <mat-checkbox
                name="rememberMe"
                [formControl]="signinForm.controls['rememberMe']"
                class="">Remember me</mat-checkbox> -->
                <a [routerLink]="'/sessions/forgot-password'" class="mat-primary text-right full-width">Forgot password?</a>
            </div>
            
            <button mat-raised-button class="mat-primary full-width mb-1 primary-btn" [disabled]="signinForm.invalid">SIGN IN</button>
             
          </form>
        </div>
      </mat-card>
    </div>
  </div>
  
  