<div class="page-wrap page-login">
    <div class="signIn-wrapper">
      <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
      <mat-card>
        <div class="card-body-content">
          <div class="text-center pb-16"> 
            <H3 class="fw-500">Welcome to The PLN</H3>
            <p class="clr-222 m-0">Sign in to your account</p>
          </div> 
          
          <form >
            <div class="">
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  name="username" 
                  placeholder="Email"
                  value="abhi@abhigolhar.com">
              </mat-form-field>
              <!-- <small 
                *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched" 
                class="form-error-msg"> Email is required </small> -->
            </div>
  
            <div class="">
              <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input 
                  type="password"
                  name="password"
                  matInput 
                  placeholder="Password" 
                  value="123456789">
              </mat-form-field>
              <!-- <small 
                *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
                class="form-error-msg"> Password is required </small> -->
            </div>
            
            <div fxLayout="row" fxLayoutAlign="space-between center" > 
                <a [routerLink]="'/forgot-password'" class="mat-primary text-right full-width clr-6589a9 fnt-12 fp--link">Forgot password</a>
            </div>
            
            <button mat-raised-button class="mat-primary full-width  primary-btn"  >Sign In</button>
             
          </form>
        </div>
      </mat-card>
    </div>
  </div>
  
  