<section class="section-one bg-img" fxLayout="row wrap" style="background-image: url('assets/images/arkenea/banner1.webp')">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" >
        <h1 class="ff-playfair">Build to Scale</h1>
        <p>Funding projects for builders and real estate investors in select markets throughout the country <br>
            with an emphasis on their growth.</p>
    </div>
</section>