.bg-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.left-right-box-img{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
    &.left{
        background-position: left;
    }
}
.mb-130{margin-bottom: 130px;}
.mb-30{margin-bottom: 30px;}
.main-heading{
    font-size: 54px;
    font-family: 'Playfair Display', serif ;
    color: #222;
}
.main-desc{
    font-size: 20px;
    font-family: 'Lato', sans-serif ;
    text-align: center;
    color: #888;
}

.section-one {
    height: calc(100vh - 67px);
    margin-top: -80px;
    h1{
        margin-bottom: 40px;  
        color: #fff;     
    }
    p{        
        margin-bottom: 40px;
        color: #fff;
    }
}
.section-two{
    text-align: center;
    .thumbnail-round{
        width: 80px;
        height: 80px;
        background-color: #6589a9;
        border-radius: 50%;       
    }
    h1{
        font-size: 28px;
        font-family: 'Playfair Display', serif ;
        margin: 25px 0;
        color: #222;
    }
    p{
        font-size: 16px;
        font-family: 'Lato', sans-serif !important;
        color: #888;
    }
}
.section-three{
    .details-box{
        padding: 30px 50px;
        box-shadow: 0px 7px 18px 0 rgba(0, 0, 0, 0.09);
        background-color: #fff;
        h1{ 
            margin:0 0 28px 0;
           
        }
        p{
            font-size: 16px;
            font-family: 'Lato', sans-serif !important;
            color: #888;
            margin-bottom: 35px;
        }
    }
}

.section-four{
    height: 859px;
    p{
        margin: 36px 0;
    }
}


.primary-black-btn{
    background-color: #000;
    font-family: 'Lato', sans-serif !important;
    font-size: 18px;
    line-height: 17px;
    padding: 17px 19px;
    color: #fff;
}