<section class="section-one bg-img mb-130" fxLayout="row wrap" style="background-image: url('assets/images/arkenea/banner1.webp')">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" >
        <h1 class="ff-playfair">Build to Scale</h1>
        <p>Funding projects for builders and real estate investors in select markets throughout the country <br>
            with an emphasis on their growth.</p>
        <button mat-raised-button class="primary-black-btn">Get Started</button> 
    </div>
</section>

<section class="section-two mb-130" fxLayout="row">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100" fxLayoutGap="30px">
            <div *ngFor="let tdata of tdatas" fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="thumbnail-round" fxLayout="row" fxLayoutAlign="center center"> 
                    <mat-icon>{{tdata.iconName}}</mat-icon>
                </div>    
                <h1>{{tdata.heading}}</h1>    
                <p class="m-0">{{tdata.info}}</p>
            </div>
             
        </div>
    </div>
</section>

<section class="section-three mb-30" fxLayout="row">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="left-right-box-img" style="background-image: url('assets/images/arkenea/right1.webp')" >
            <div class="details-box" fxLayout="column" fxLayoutAlign="start start" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="645" fxFlex.lg="645px" fxFlex.xl="645px">
                <h1>Less Risk. More Profit</h1>    
                <p>By investing more of your time, energy and money into a project as compared to its down payment, you get the peace of mind that your deal is well capitalized and realize much more return on your investment.</p>
                <button mat-raised-button class="primary-black-btn">Learn More</button> 
            </div>  
        </div>
    </div>
</section>

<section class="section-three mb-30" fxLayout="row">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" class="left-right-box-img" style="background-image: url('assets/images/arkenea/left1.webp')" >
            <div class="details-box" fxLayout="column" fxLayoutAlign="start start" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="645" fxFlex.lg="645px" fxFlex.xl="645px">
                <h1>Less Risk. More Profit</h1>    
                <p>By investing more of your time, energy and money into a project as compared to its down payment, you get the peace of mind that your deal is well capitalized and realize much more return on your investment.</p>
                <button mat-raised-button class="primary-black-btn">Learn More</button> 
            </div>  
        </div>
    </div>
</section>