.bg-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.left-right-box-img{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
    &.left{
        background-position: left;
    }
}
.mb-130{margin-bottom: 130px;}
.mb-30{margin-bottom: 30px;}
.main-heading{
    font-size: 54px;
    font-family: 'Playfair Display', serif ;
    color: #222;
}
.main-desc{
    font-size: 20px;
    font-family: 'Lato', sans-serif ;
    text-align: center;
    color: #888;
}

.section-one {
    height: calc(100vh - 1px); 
    h1{
        margin-bottom: 40px;  
        color: #fff;     
    }
    p{        
        margin-bottom: 40px;
        color: #fff;
    }
}
.section-two{
    text-align: center;
    .thumbnail-round{
        width: 80px;
        height: 80px;
        background-color: #6589a9;
        border-radius: 50%;   
        .fa {
            color: #fff;
            font-size: 35px;
        }    
    }
    h1{
        font-size: 28px;
        font-family: 'Playfair Display', serif ;
        margin: 25px 0;
        color: #222;
    }
    p{
        font-size: 16px;
        font-family: 'Lato', sans-serif !important;
        color: #888;
    }
}
.section-three{
    .details-box{
        padding: 30px 50px;
        box-shadow: 0px 7px 18px 0 rgba(0, 0, 0, 0.09);
        background-color: #fff;
        h1{ 
            margin:0 0 28px 0;
           
        }
        p{
            font-size: 16px;
            font-family: 'Lato', sans-serif !important;
            color: #888;
            margin-bottom: 35px;
        }
    }
}

.section-four{
    height: 859px;
    h1{
        margin-top: 70px;
    }
    p{
        margin: 36px 0;
    }
}

.section-five{
    .client--feedback--wrapper{
        .feedback--box{
            border: solid 1px #ddd;
            border-radius: 10px;
            background-color: #fff;
            padding: 30px 30px 60px 30px;
            margin-top: 20px;
            min-height: 235px;
            text-align: center;
            p{
                font-size: 16px;
                color: #888;
                font-family: 'Lato', sans-serif !important;
            }
            .exclamatory--sec{
                width: 40px;
                height: 40px;
                margin: 0 auto;
                background-color: #222;
                border-radius: 50%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -19px;
                .fa{
                    color: #fff;
                    font-size: 17px;
                }
            }
        }
        .client--details{
            .profile--pic{
                width: 58px;
                height: 58px;
                border-radius: 50%;
                overflow: hidden;
                margin-top: 40px;
                margin-bottom: 22px;
            }
            h5{
                font-size: 18px;
                font-weight: 500;
                color: #222;
                font-family: 'Lato', sans-serif !important;
            }
            p{
                color: #888;
                font-size: 12px;
                font-weight: 500;
                font-family: 'Lato', sans-serif !important;
            }
        } 
        
        &:hover{
            .feedback--box{
                border-color: #6589a9;
            }
            .exclamatory--sec{
                background-color: #6589a9 !important;
            }
        }
    }
}

.section-six{
    height: 500px;
    .main-desc,
    .main-heading{
        color: #fff;
    }
    .main-desc{
        margin: 40px 0;
        padding: 0 15%;
    }
    
}

.primary-black-btn{
    background-color: #000;
    font-family: 'Lato', sans-serif !important;
    font-size: 18px;
    line-height: 17px;
    padding: 17px 19px;
    color: #fff;
}


@media only screen and (max-width: 599px) {
    .section-one p { 
        width: 85%;
        margin-bottom: 20px;
    }
    .section-one h1 {
        margin-bottom: 20px; 
    }
    .section-two h1 {
        font-size: 22px;
        margin: 10px 0;
    }
    .section-two p {
        font-size: 13px !important;
    }
    .section-four  {
        height: 533px;
    }
    .section-four p {
        margin: 10px 0;
    }
    .main-heading {
        font-size: 22px;
    }
    .main-desc {
        font-size: 13px !important;
    }
    .section-one  {
        height: calc(100vh - 330px);
    }
    .mb-130  {
        margin-bottom: 35px;
    }
    .section-six {
        height: 250px;
    }
    .section-two .thumbnail-round {
        width: 60px;
        height: 60px;
    }
    .section-two .thumbnail-round .fa { 
        font-size: 25px;
    }
    .left-right-box-img  { 
        background-image: none !important;
        height: auto;
    }
    .section-three .details-box {
        padding:  25px;
    }
    .section-three .details-box h1 {
        margin: 0 0 15px 0;
        text-align: center;
    }
    .section-five{
        text-align: center;
        padding: 0 22px;
    }
    .section-five .client--feedback--wrapper .feedback--box { 
        padding: 15px 15px 30px 15px; 
        min-height: unset;
    }
    .section-six .main-desc {
        margin: 20px 0;
        padding: 0 1%;
    }
    .primary-black-btn { 
        font-size: 13px;
        line-height: 13px;
        padding: 12px 14px; 
    }
    .section-five .client--feedback--wrapper .feedback--box p {
        font-size: 14px;
    }
    .section-five .client--feedback--wrapper .client--details h5 {
        font-size: 14px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 979px){
    .section-one p { 
        width: 70%;
    }
    .section-two h1 {
        font-size: 22px; 
        margin: 20px 0; 
    }
    .section-two p {
        font-size: 14px;
    }
    .section-four  {
        height: 533px;
    }
    .section-four p {
        margin: 10px 0;
    }
    .main-heading {
        font-size: 35px;
    }
    .main-desc {
        font-size: 15px;
    }
    .section-one  {
        height: calc(100vh - 502px);
    }
    .mb-130  {
        margin-bottom: 90px;
    }
    .section-six {
        height: 300px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1279px){
    .section-four  {
        height: 641px;
    }
    .main-desc {
        font-size: 16px;
    }
    .main-heading  {
        font-size: 40px;
    }
    .section-four p {
        margin: 20px 0;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){}
@media only screen and (min-width: 1441px) and (max-width: 1550px){}
@media screen and (orientation:landscape) and (max-width: 850px){}