<div class="header-topnav mat-elevation-z2 landing--header--wrapper">
  <div class="topnav">
    <!-- App Logo -->
    <div class="topbar-branding">
      <img src="assets/images/arkenea/logo.webp" alt="" class="app-logo">
    </div>
    <span fxFlex></span>
    
    <ul fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-between center" class="menu" *ngIf="!layoutConf.isMobile">
      <li> <a mat-button class="mat-button" >What We Do </a>  </li>
      <li> <a mat-button class="mat-button" >How We Help </a>  </li>
      <li> <a mat-button class="mat-button" >Who We Work With</a>  </li>
      <li> 
        <a mat-button class="mat-button lender-login-btn" > Lender Login </a>  
      </li>
      <li> <a mat-button class="mat-button sign-up-btn" > Sign Up </a>  </li>
    </ul>   

    <!-- Mobile screen menu toggle -->
    <button mat-icon-button class="mr-1" (click)="toggleSidenav()" *ngIf="layoutConf.isMobile">
      <mat-icon>menu</mat-icon>
    </button>

  </div>
</div>