.signup--successful{
    border-radius: 5px; 
    box-shadow: -1.4px 1.4px 13px 0 rgba(88, 92, 101, 0.3);
    background-color: #fff;
    height: calc(100vh - 135px);
    p{
        font-size: 14px;
        margin: 15px 0 25px 0;
    }
}

@media only screen and (max-width: 599px) {
    .signup--successful{
        height: auto;
        padding: 15px;
        p{
            text-align: center;
        }
    }
}
@media screen and (orientation:landscape) and (max-width: 850px){
    .signup--successful{
        height: auto;
        padding: 15px;
        p{
            text-align: center;
        }
    }
}