<div class="lp--day--one w-100" fxLayout="column" fxLayoutAlign="start start">
    <div class="w-100 text-center" fxLayout="column" fxFlex="100" fxLayoutAlign="start center"
        fxLayoutAlign.xs="center center">
        <h1 class="clr-222 mb-5">Welcome John!, </h1>
        <h1 class="clr-222 mb-0">You can view the count data of the requests raised to you on this dashboard</h1>
    </div>
    <mat-card class="mt-25 w-100" fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxFlex="100">
            <h1 class="mb-20">Pre-Approved Loan Applications</h1>
        </div>

        <mat-card class="inner--box m-0 w-100 text-center" fxLayout="row" fxFlex="100" fxLayoutAlign="start center"  fxLayoutGap="30px">
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">

                <div class="round--box" fxLayout="row" fxLayoutAlign="center center">
                    
                    
                </div>
    
            </div>
        </mat-card> 

    </mat-card>
</div>