<div class="lp--day--one w-100" fxLayout="column" fxLayoutAlign="start start">
    <div class="w-100 text-center" fxLayout="column" fxFlex="100" fxLayoutAlign="start center"
        fxLayoutAlign.xs="center center">
        <h1 class="clr-222 mb-5">Welcome John!, </h1>
        <h1 class="clr-222 mb-0">You can view the count data of the requests raised to you on this dashboard</h1>
    </div>
    <mat-card class="mt-25 w-100" fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxFlex="100">
            <h1 class="mb-20">Pre-Approved Loan Applications</h1>
        </div>

        <div class="m-0 w-100 text-center" 
        fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" 
        fxFlex="100" fxLayoutAlign="start center"  
        fxLayoutGap="30px" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
            <mat-card class="inner--box" 
            fxLayout="row" fxLayoutAlign="start center" 
            fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">

                <div class="round--box" fxLayout="row" fxLayoutAlign="center center"> 
                    <img src=" assets/images/arkenea/loan.webp" alt="" class="">
                </div>
                <p class="m-0 clr-222 ">Total requests will show-up here</p>
    
            </mat-card>
            <mat-card class="inner--box" 
            fxLayout="row" fxLayoutAlign="start center" 
            fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">

                <div class="round--box ongoing--box" fxLayout="row" fxLayoutAlign="center center"> 
                    <img src=" assets/images/arkenea/ongoing-request.webp" alt="" class="">
                </div>
                <p class="m-0 clr-222 ">On-going requests will 
                    show up here</p>
    
            </mat-card>
            <mat-card class="inner--box" 
            fxLayout="row" fxLayoutAlign="start center" 
            fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">

                <div class="round--box completed--box" fxLayout="row" fxLayoutAlign="center center"> 
                    <img src=" assets/images/arkenea/completed-request.webp" alt="" class="">
                </div>
                <p class="m-0 clr-222 ">Completed requests will 
                    show up here</p>
    
            </mat-card>
        </div>   
    </mat-card>

    <mat-card class="mt-25 w-100" fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxFlex="100">
            <h1 class="mb-20">New Loan Applications</h1>
        </div>

        <div class="m-0 w-100 text-center" 
        fxLayout="row" fxLayout.sm="row wrap" fxLayout.xs="row wrap" 
        fxFlex="100" fxLayoutAlign="start center"  
        fxLayoutGap="30px" fxLayoutGap.sm="0" fxLayoutGap.xs="0">
            <mat-card class="inner--box" 
            fxLayout="row" fxLayoutAlign="start center" 
            fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">

                <div class="round--box" fxLayout="row" fxLayoutAlign="center center"> 
                    <img src=" assets/images/arkenea/loan.webp" alt="" class="">
                </div>
                <p class="m-0 clr-222 ">Total requests & their valuation 
                    will show-up here</p>
    
            </mat-card>
            <mat-card class="inner--box" 
            fxLayout="row" fxLayoutAlign="start center" 
            fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">

                <div class="round--box ongoing--box" fxLayout="row" fxLayoutAlign="center center"> 
                    <img src=" assets/images/arkenea/ongoing-request.webp" alt="" class="">
                </div>
                <p class="m-0 clr-222 ">On-going requests & their 
                    valuation will show up here</p>
    
            </mat-card>
            <mat-card class="inner--box" 
            fxLayout="row" fxLayoutAlign="start center" 
            fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">

                <div class="round--box completed--box" fxLayout="row" fxLayoutAlign="center center"> 
                    <img src=" assets/images/arkenea/completed-request.webp" alt="" class="">
                </div>
                <p class="m-0 clr-222 ">Completed requests & their 
                    valuation will show up here</p>
    
            </mat-card>
        </div>   
    </mat-card>

</div>