<div class="page-wrap page-login">
    <div class="signIn-wrapper">
        <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
        <mat-card>
            <div class="card-body-content">
                <div class="text-center pb-16">
                    <H3 class="fw-500">Create New Password</H3>
                    <!-- <p class="clr-222 m-0">Please enter the email associated with
                        your account.</p> -->
                </div> 
                <form>
                    <div class="">
                        <mat-form-field class="full-width">
                            <mat-label>Create Password</mat-label>
                            <input matInput type="password" placeholder="Create Password" value="123456789">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" placeholder="Confirm Password" value="123456789">
                        </mat-form-field>
                    </div> 
                    <button [routerLink]="'/reset-password'" mat-raised-button class="mat-primary full-width  primary-btn mt-15">Reset Password</button> 
                </form>
            </div>
        </mat-card>
    </div>
</div>