<div class="dashboard--day--one w-100" fxLayout="column"  fxLayoutAlign="start start">

  <div class="w-100 text-center" fxLayout="column" fxFlex="100" fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
    <h1 class="clr-222 m-0">Hello, Abhi! </h1>
    <h1 class="clr-222 mb-15"> We're delighted you joined The PLN!</h1>
    <p class="clr-888 fnt-14">To get started and create new loan requests, all you need to do is update your contact information!</p>
  </div>

  <div class="w-100" fxLayout="column" fxFlex="100" fxLayoutAlign="start center">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="10px">
        <div class="steps step--align" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/images/arkenea/aboutYourself.png" alt="">
          <div class="step--count" fxLayout="row" fxLayoutAlign="center center">1</div>
          <p class="m-0 clr-222">Tell Us About Yourself</p>
        </div>
        <div class="steps" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/images/arkenea/arrowpart-1.webp" alt=""> 
        </div>
        <div class="steps" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/images/arkenea/organization.webp" alt="">
          <div class="step--count" fxLayout="row" fxLayoutAlign="center center">2</div>
          <p class="m-0 clr-222">Update Your PLN Details</p>
        </div>
        <div class="steps" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/images/arkenea/arrowpart-2.webp" alt=""> 
        </div>
        <div class="steps" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/images/arkenea/newLoanReq.png" alt="">
          <div class="step--count" fxLayout="row" fxLayoutAlign="center center">3</div>
          <p class="m-0 clr-222">Create New Loan Request</p>
        </div>
    </div>
  </div>

</div>