<div class="dashboard--day--one w-100" fxLayout="column"  fxLayoutAlign="start start">

  <div class="w-100" fxLayout="column" fxFlex="100" fxLayoutAlign="start center">
    <h1 class="clr-222 m-0">Hello, Abhi! </h1>
    <h1 class="clr-222 mb-15"> We're delighted you joined The PLN!</h1>
    <p class="clr-888 fnt-14">To get started and create new loan requests, all you need to do is update your contact information!</p>
  </div>

  <div class="w-100" fxLayout="column" fxFlex="100" fxLayoutAlign="start center">
    <div class="container">
        d
    </div>
  </div>

</div>