.dashboard--day--one{
    border-radius: 5px;
    box-shadow: -1.4px 1.4px 13px 0 rgba(88, 92, 101, 0.3);
    background-color: #fff; 
    padding: 50px 15px;
    h1{
        font-size: 20px;
        font-weight: 500;
    }
    p{
        margin-bottom: 120px;
    }
    .steps{ 
        text-align: center;
       .img--sec{
           height: 400px;
       }      
       .step--count{
           width: 32px;
           height: 32px;
           border-radius: 50%;           
           background-color: #888;
           font-size: 18px;
           color: #fff;
           margin-bottom: 15px;
           margin-top: 25px;
           
       } 
       p{
        font-size: 16px;
        color: #888;
       }
       &.step--align{ 
             &:hover{
                 cursor: pointer;
                p{
                    color: #222;
                }
                .step--count{
                    background-color: #6589a9;
                }
             }
        }
    }
    
}