/* You can add global styles to this file, and also import other style files */
.p-0 {padding: 0 !important;}
.pr-0 {padding-right: 0 !important;}
.pl-0 {padding-left: 0 !important;}
.pt-0 {padding-top: 0 !important;}
.pb-0 {padding-bottom: 0 !important;}

.m-0 {margin: 0 !important;}
.mr-0 {margin-right: 0 !important;}
.ml-0 {margin-left: 0 !important;}
.mt-0 {margin-top: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}

.mt-5{margin-top: 5px !important;}
.mt-10{margin-top: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-25{margin-top: 25px !important;}
.mt-30{margin-top: 30px !important;}

.mr-5{margin-right: 5px !important;}
.mr-10{margin-right: 10px !important;} 

.fs-0 {flex-shrink: 0 !important;}

.relative{position:relative !important;}
.w-100 {width: 100% !important;}



/* .ff-playfair{font-family: 'Playfair Display', serif !important;} */
/* font-family: 'Lato', sans-serif !important; */

.cust--side--nav{
    background: #333 !important;
    text-align: center;
}
.cust--side--nav .app-logo-sidenav{    
    width: 165px;
    margin-top: 10px;

}
.sidebar-slate .cust--side--nav .navigation-wrapper{
    margin-top: 0 !important;
    background: #333 !important;
    border-top: 1px solid #484747;
}
.sidebar-slate .cust--side--nav .sidenav-hold a{
    border-bottom: 1px solid #484747;
    text-align: left;
}
