<div class="header-topnav mat-elevation-z2">
    <div class="topnav">
        <div class="topbar-branding" style="flex: auto;">
            <img src="assets/images/arkenea/white-logo.webp" alt="" class="app-logo" [routerLink]="['/']">
        </div>

        <div>
            <span class="already--acc">Already have an account? </span>
            <button [routerLink]="['/signin']"
             mat-raised-button class="topbar-button-right img-button login--btn">
                Login
            </button>
        </div>

    </div>
</div>


    <router-outlet></router-outlet>
 

